@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  background: none;
  text-decoration: none;
}
* input:focus, * button:focus {
  outline: none; /* Убираем обводку */
}

button, img {
  cursor: pointer;
}

a {
  color: inherit;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background-color: rgb(10, 10, 10);
  padding: 33px 0px 32px;
  color: rgb(113, 113, 113);
}
.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}
.header .nav-link {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
}
.header .header__tel-number {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.headerline {
  background-color: rgb(245, 245, 247);
  padding: 71px 0px 40px;
  text-align: center;
}

.headerline-title {
  color: rgb(73, 14, 132);
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 40px;
}

.headerline-img {
  margin-bottom: 25px;
}

.headerline-btn {
  display: inline-block;
  color: rgb(255, 255, 255);
  background-color: rgb(73, 14, 132);
  padding: 22px 118px;
  border-radius: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.news {
  padding: 87px 0px 150px;
}

.news-title {
  color: rgb(113, 113, 113);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
}

.news-text {
  color: rgb(10, 10, 10);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
}

.news-texts {
  max-width: 560px;
}

.news-subtitle {
  color: rgb(10, 10, 10);
  font-size: 20px;
  font-weight: 700;
}

.news-inner {
  text-align: center;
}

.news-texts {
  text-align: left;
}

.news-img {
  width: 350px;
  height: 370px;
}

.news-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color-title {
  color: rgb(113, 113, 113);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}

.color-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.color-item {
  text-align: center;
}

.color {
  padding-bottom: 150px;
}

.color-img {
  margin-bottom: 20px;
}

.color-link__title {
  color: rgb(10, 10, 10);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.color-link__subtitle {
  color: rgb(10, 10, 10);
  font-size: 14px;
  font-weight: 400;
}

.contacts-inner {
  background-color: rgb(87, 75, 99);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.contacts-form {
  padding: 138px 93px;
  text-align: left;
  text-align: center;
}

.contacts-title {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 72px;
}

.contacts-input {
  display: block;
  font-family: "Inter", sans-serif;
  width: 400px;
  height: 28px;
  border-bottom: 1px solid rgb(245, 245, 245);
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
}

.contacts-input::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.5;
  font-family: "Inter", sans-serif;
}

.contacts-input::-moz-placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.5;
  font-family: "Inter", sans-serif;
}

.contacts-input:-ms-input-placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.5;
  font-family: "Inter", sans-serif;
}

.contacts-input::-ms-input-placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.5;
  font-family: "Inter", sans-serif;
}

.contacts-input::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.5;
  font-family: "Inter", sans-serif;
}

.contacts-subtitle {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
  opacity: 0.5;
}

.contacts-btn {
  background-color: rgb(255, 255, 255);
  color: rgb(73, 14, 132);
  width: 240px;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 30px;
}/*# sourceMappingURL=index.css.map */