.color-title {
    color: $series;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

.color-list {
    display: flex;
    justify-content: space-between;
}

.color-item {
    text-align: center;
}

.color {
    padding-bottom: 150px;
}

.color-img {
    margin-bottom: 20px;
}

.color-link__title {
    color: $black;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.color-link__subtitle {
    color: $black;
    font-size: 14px;
    font-weight: 400;
}